html,
button,
input,
select,
textarea
{
  color: #222;
}

body
{
  font-size: 1em;
  color: #444;
  font: verdana, arial, helvetica;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background: url(img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* Need to customize background color*/
 ::-moz-selection{
   background: #b3d4fc;
   text-shadow: none;
 }
 ::selection{
   background: #b3d4fc;
  text-shadow: none;
 }

 hr
 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
 }

 /*remove gap between containersa and images*/

 img
 {
   vertical-align: middle;
 }

 /*remove default styles*/

 fieldset
 {
   resize: vertical;
 }

 .chromeframe
 {
   margin: 0.2em 0;
   background-color: #ccc;
   color: #000;
   padding: 0.2em 0;
 }

 /*insert custom styling here*/

 #wrapper
 {
  width: 820px;
  height: 420px;
  padding: 10px 0;
  margin: 10px auto;

  border-radius: 8px;
  background-color: #444;
  background-color: rgba(97,97,97,0.63);
  /*alpha value above creates transparent-ish window*/
  /*created two background color properties to create cross browser support. incase rgba is not recognized and transparency is not supported then the first value will be taken */
 }

 #header
 {
   margin: 0 10px 10px 0;
   width: 510px;
   height: 160px;
   border-radius: 6px;
   background-color: #ccc;
   position: relative;
   float: right;
 }
 #board
 {
  margin: 0 10px;
  width: 510px;
  height: 250px;
  border-radius: 6px;
  background-color: #ccc;
  position: relative;
  float: right;
 }

 #moves
 {
   margin: 0 0 10px 10px;
   width: 280px;
   height: 420px;
   border-radius: 6px;
   background-color: #ccc;
   position: relative;
   float: left;
 }

 #moves > ol
 {
   padding: 3px;
 }

 #moves > ol
 {
   padding: 2px 0 6px 30px;
   font-size: 0.9em;
 }

 #board .post
 {
   height: 180px;
   width: 20px;
   background-color: #444;
   background: url(img.png) no-repeat center center;
   box-shadow: 5px 3px 10px #28211E;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   /*display: inline-block;*/
   position: absolute;
   z-index: 10;
 }

 .disk
 {
   height: 18px;
   /*total disk height is 20... 18 defined here + border*/
   border: 1px solid #2a1810;
   border-radius: 5px;
   background-color: black;
   /*insert background img url here */
   box-shadow: 3px 3px 6px #331306;
   position: absolute;
   z-index: 20;
 }
 #disk0
 {
   width: 50px;
   left: 97px;
   bottom: 40px;
 }

 #disk1
 {
   width: 60px;
   bottom: 20px;
   left: 92px;
 }

#disk2
{
  width: 70px;
  bottom: 0px;
  left: 87px;
}
#source
{
  bottom: 0px;
  left: 112px;
}
#helper
{
  bottom: 0px;
  left: 245px;
}
#goal
{
  bottom: 0px;
  left: 378px;
}
 /*styling notes
 -post border radius
 -post background images*/
